.menu{
    position: absolute;
    top:0;
    left:0;
    height: 4rem;
    width: 4rem;
}

header{
    display: flex;
    flex-direction: row;
    height: 4rem;
    border-bottom: .1rem solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'DM Serif Text', serif;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 218, 218);
}



.comunidade{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height:3rem;
    background-color:  rgb(255, 165, 0);
    font-family: 'DM Serif Text', serif;
}


figure{
    border: 0.2rem solid rgb(0, 0, 0); 
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(218, 218, 218);
    font-family: 'DM Serif Text', serif;
}

.nome{
    display: flex;
    font-size: 1.5rem ;
    margin:0.1rem;
}

u{
    display: flex;
    font-size: 1.5rem ;
}

.selecione{
    display: flex;
    font-size: 1.5rem ;
    margin:0.1rem;
}

.descricao{ 
    display: flex;
    font-size: 1.5rem ;
    margin:0.5rem;
    font-family: 'Roboto', sans-serif;
}

.categoria{
    display: flex;
    font-size: 1.5rem ;
    margin:0.5rem;
    font-family: 'DM Serif Text', serif;
}

strong{
    font-weight: bold;
}

.icone{
    display: flex;
    max-width: 5%;
    max-height: 5%;
}

footer{
    display: flex;
    font-size: 1.3rem;
    margin:1rem;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(218, 218, 218);
}

.a{
    margin: 1rem;
}
