.menu{
    position: absolute;
    top:0;
    left:0;
    height: 4rem;
    width: 4rem;
}

header{
    display: flex;
    flex-direction: row;
    height: 4rem;
    border-bottom: .1rem solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'DM Serif Text', serif;

}
.Feed{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height:3rem;
    background-color: rgb(255, 165, 0);
    font-family: 'DM Serif Text', serif;

}

main {
    display: flex;
    flex-direction: column;
    font-family: 'DM Serif Text', serif;

}

.title{
    display: flex;
    font-size: 1.5rem;
    margin: 0.5rem;
}

figure{
    justify-content: center;
    display: flex;
    margin-block-end: 1rem;
    flex-grow: 1;
}

.video {
    border: 0.4rem solid rgb(0, 0, 0);
    position: relative;
    max-width: 50%;
    max-height: 50%;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    display: flex;
    flex-direction: column;


}

.legenda{
    display: flex;
    margin:.5rem;
}

h4{
    font-size: 1.5rem ;
}

footer{
    display: flex;
    font-size: 1.3rem;
    margin:1rem;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(218, 218, 218);
}

a{
    margin: .5rem;
}

li{
    margin: .5rem;
}

p{
    margin: .5rem;
}

ol{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(218, 218, 218);
}

.mapa {
    display: flex;
    max-width: 50%;
	height: auto;
    min-width: 35%;
    min-height: auto;
}

.descricao{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: 'DM Serif Text', serif;
}

.desenv{
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    margin-right: 1rem;
    font-family: 'Roboto', sans-serif;
}

.fade-in {
	animation: fadeIn 2s;
  	opacity: 1;
    max-width: 50%;
    height: auto;
}


.local {
    display: flex;
    font-size: 1.5rem;
    flex-grow: 2;
}

.evento{
    display: flex;
    justify-content: left;
    font-size: 1.5rem;
    flex-grow: 2;

}
.icons {
    display: flex;
    justify-content: center;
    max-width: 50%;
	height: auto;
}