.menu{
    position: absolute;
    top:0;
    left:0;
    height: 4rem;
    width: 4rem;
}

header{
    display: flex;
    flex-direction: row;
    height: 4rem;
    border-bottom: .1rem solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'DM Serif Text', serif;

}
.Feed{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height:3rem;
    background-color:  rgb(255, 165, 0);
    font-family: 'DM Serif Text', serif;

}
.mapa{
    flex-shrink: 1;
    max-width: 60%;
    
    
}
.onde{
    flex-direction: column;
    align-content: normal;
    flex-grow: 1;
}
main {
    display: flex;
    flex-direction: column;
 
}

.title{
    display: flex;
    font-size: 1.5rem;
    margin: 0.5rem;
    font-family: 'Roboto', sans-serif;
}
.onde{
    display: flex;
    justify-content: left;
    font-size: 1.25rem;
    font-family: 'DM Serif Text', serif;

}

figure{
    display: flex;
    flex-direction: row;
    background-color: rgb(218, 218, 218);
    font-family: 'Roboto', sans-serif;
}

ul{
    display: flex;
    margin: .5rem;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

li{
    display: flex;
    flex-direction: column;


}

.legenda{
    display: flex;
    margin:.5rem;
}

u{
    font-size: 1.5rem ;
}

footer{
    display: flex;
    margin:1rem;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(218, 218, 218);
    font-family: 'Roboto', sans-serif;
}

a{
    margin: .5rem;
}

p{
    margin: .5rem;
}