.menu{
    position: absolute;
    top:0;
    left:0;
    height: 4rem;
    width: 4rem;
}

header{
    display: flex;
    flex-direction: row;
    height: 4rem;
    border-bottom: .1rem solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'DM Serif Text', serif;
}

main {
    display: flex;
    flex-direction: column;
 
}

.title{
    display: flex;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.tipopost{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height:3rem;
    background-color: rgb(255,165,0);
    font-family: 'DM Serif Text', serif;
}

.tipo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid rgb(0, 0, 0);
    height:3rem;
    background-color:  rgb(255,255,255);
}

.tipo1{
    display: flex;
    justify-content: left;
    align-items: center;
    height:3rem;
    background-color:  rgb(255,255,255);
}

.imagem{
    max-width: 90%;
    max-height: 90%;
}

.voltar{
    justify-content: left;
    max-height: 25%;
    max-width: 25%;
}

a{
    margin: .5rem;
}
