.menu{
    position: absolute;
    top:0;
    left:0;
    height: 4rem;
    width: 4rem;
}

header{
    display: flex;
    flex-direction: row;
    height: 4rem;
    border-bottom: .1rem solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'DM Serif Text', serif;
}
.Feed{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height:3rem;
    background-color:  rgb(255, 165, 0);
    font-family: 'DM Serif Text', serif;
}

main {
    display: flex;
    flex-direction: column;
 
}

.title{
    display: flex;
    font-size: 1.5rem;
    margin: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

figure{
display: flex;
justify-content: center;
background-color: rgb(218, 218, 218);

}

.video {
    border: 0.4rem solid rgb(0, 0, 0);
    position: relative;
    max-width: 50%;
    max-height: 50%;
}

ul{
    display: flex;
    margin: .5rem;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

li{
    display: flex;
    flex-direction: column;


}

.legenda{
    display: flex;
    margin:.5rem;
    justify-content: center;
    font-family: 'DM Serif Text', serif;
}

u{
    font-size: 1.5rem ;
}

footer{
    display: flex;
    margin:1rem;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(218, 218, 218);
    font-family: 'Roboto', sans-serif;
}

a{
    margin: .5rem;
}

p{
    margin: .5rem;
}