.menu{
    position: absolute;
    top:0;
    left:0;
    height: 4rem;
    width: 4rem;
}

header{
    display: flex;
    flex-direction: row;
    height: 4rem;
    border-bottom: .1rem solid black;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.Feed{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height:3rem;
    background-color:  orange;

}

main {
    display: flex;
    flex-direction: column;
 
}

.title{
    display: flex;
    font-size: 1.5rem;
    margin: 0.5rem;
}

figure{
display: flex;
margin-block-end: 1rem;
flex-grow: 1;


}

.video {
    border: 0.4rem solid black;
    position: relative;
    max-width: 50%;
    max-height: 50%;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    display: flex;
    flex-direction: column;


}

.legenda{
    display: flex;
    margin:.5rem;
}

h4{
    font-size: 1.5rem ;
}

footer{
    display: flex;
    margin:1rem;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(218, 218, 218);
}

a{
    margin: .5rem;
}

p{
    margin: .5rem;
}

.mapa {
    max-width: 50%;
	height: auto;
}

.descricao{
    font-size: 1.5rem;
    color: black;
}

.desenv{
    font-size: 1.25rem;
    color: black;
    margin-right: 1rem;
}

.fade-in {
	animation: fadeIn 2s;
  	opacity: 1;
    max-width: 50%;
    height: auto;
}

strong{
    font-size: xx-large;
}

.local {
    flex-grow: 2;
}
